{% extends 'blog/layout.html' %}

{% load crispy_forms_tags %}

{% block head %}
    <title>Edit entry</title>
{% endblock %}


{% block page_header %}
    <h4><a href="{% url 'blog:topic' topic.id %}">{{ topic }}</a></h4>
{% endblock page_header %}

{% block body %}
    <p><h5>Edit entry:</h5></p>

    <form action="{% url 'blog:edit_entry' entry.id %}" method='post'>
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success" name="submit">Save changes</button>
    </form>
{% endblock %}
