{% extends 'blog/layout.html' %}

{% block head %}
    <title>Blog</title>
{% endblock %}

{% block page_header %}
    <div class="jumbotron">
        <h3 class="display-3">Welcome!</h3>

        <p class="lead">Make your own list of topics you're learning about. Whenever you learn something new
            about a topic, make an entry summarizing what you've learned.</p>

        <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
            role="button">Register &raquo;</a>
    </div>
{% endblock page_header %}
